body{    
    text-align: center;
    min-height: 100%;
    background-color: beige;
    font-family: sans-serif;
}
h1,p
{
    text-align: center;
    color: #4a0529;
}
/*
#pocetna h1
{
    text-shadow: 1px 1px rgb(7, 93, 17);
    text-align: center;
}
*/

.naslovi{
  text-shadow: rgb(28, 27, 24) 1px 0 10px;
  color: rgb(241, 241, 130);
  font-size: 22pt;
}

#pocetna
{
    background-image: url('slike/farma.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
img
{
    width:200px;
    height:200px;
    border-radius: 50%;
    border:2px solid rgb(241, 241, 130);
    display: inline-block;
}

main
{
    padding-top: 50px;
    padding-bottom:220px;
}


ul {
    list-style-type: none;
    overflow: hidden;    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
   float:left;
    border-right:1px solid #bbb;
    background-color: rgb(241, 241, 130);
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color:#4a0529;
    text-align: center;
    /*padding: 12px 16px;*/
    padding: 16px 95px;
    text-decoration: none;
    font-size: 18px;
  }
 
  .active {
    background-color: #4a0529;
    color:rgb(241, 241, 130);
  }

  footer
  {
      background-color: #4a0529;      
        vertical-align: middle;
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
}
footer p
{
    color:rgb(233, 209, 183);
}